$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$heading: 'Source Serif Pro', arial, sans-serif;
$body: arial, sans-serif;

$primary: #283593;
$primary-dark: #001064;
$primary-light: #5f5fc4;
$secondary: #171a1c;
$tertiary: #ffffff;